/* 
This is the body background color.
*/

body {
  background:border-box #66ccff;
  box-sizing:border-box;
  margin:auto;
} 

 /*
This is the Header and Footer Class Selector Rule.
*/

header, footer{
 background-color:#660000;
 font-family:"New Times Roman", Times, serif;
 color:gold;
 text-align:center;
}

/*
This is Header rule separate from the Footer.
*/

header{
 font-size: 28px;
 padding-top: 20px;
 padding-bottom: 25px; 
}

/*
These are the main container rules.
*/

main {
background-color: #ccccff;
}

/*
This is to center images
*/

img{
  width: 60%;
  margin: auto;
  display: block;
}


/*
 This is the h2, h3, and paragraph rules font and color.
*/

h2, h3, p{
font-family: Arial, Helvetica, sans-serif;
color: #4d4d4d;
}

/* 
This is the h2, h3 and pn text alignment.
*/

h2, h3, p{
text-align: center;
  
} 

/*
This is the Unordered List Rule
*/

ul{
 color: #333333;
 text-align: left;
 list-style-position: inside; 
 margin-right: 0;
 margin-left: 0;
 text-indent: 396px;
}
  
/*
 This is the list items rules.
*/

li {
font-family: Arial, Helvetica, sans-serif;
color: #333333;
}

/*
This class is for Ordered List item 2
*/
.letter1{
  text-indent: -8px;
}

/* 
These are the pseudo-classes for the anchor links.
*/

a {
font-family: Arial, Helvetica, sans-serif:
font-size: 14px;
}

a:link{color: #1a1aff;}
a:visited{color: #808080;}
a:hover{color: #ffff66;}
a:active{color: #258e25;}

/* 
This is the Horizontal Rule.
*/

hr{
height: 3px;
background-color: #b3b3ff;
border: 2px solid gold;
margin-top: 80px;
margin-bottom: 80px;
}

/* 
This the Ordered List rule
*/

ol{
  color: #333333;
  text-align: center;
  list-style-position: inside; 
 }

/*
This is the Footer Rule.
*/
footer {
 font-size: 14px;
 padding-top: 12px;
 padding-bottom: 6px;  
}



