/* 
This is the body background color.
*/

body {
  background:border-box #66ccff;
  box-sizing:border-box;
  margin:auto;

} 

 /*
This is the Header and Footer Class Selector Rule.
*/

header, footer{
 background-color:#660000;
 font-family:"New Times Roman", Times, serif;
 color:gold;
 text-align:center;
}

header{
 font-size: 28px;
 padding-top: 20px;
 padding-bottom: 30px;
 
}

/*
These are the main container rules.
*/
main {
background-color: #ccccff;
}

/*
 This is the h2, h3, and paragraph rules font and color.
*/

h2, h3, p{
font-family: Arial, Helvetica, sans-serif;
color: #4d4d4d;
}

/* 
This is for h2 and h3 text alignment.
*/

h2, p{
text-align: left:
}

h3{
  text-align: center;

ul{
 color: #333333;
 text-align: left;
 list-style-position: inside; 
 margin-right: 0;
 margin-left: 0;
}
  
/*
 This is the list items rules.
*/

li {
font-family: Arial, Helvetica, sans-serif;
color: #333333;
}
.letter{
  text-indent: 6px;
}

.letter1{
  text-indent: -16px;
}

/* 
These are the anchor rules for the links.
*/
a {
font-family: Arial, Helvetica, sans-serif:
font-size: 14px;
}

a:link{color: #1a1aff;}
a:visited{color: #808080;}
a:hover{color: #ffff66;}
a:active{color: #258e25;}

/* 
This is the Horizontal Rule.
*/

hr{
height: 3px;
background color: #b3b3ff;
border: 2px solid gold;
margin-top: 80px;
margin-bottom: 80px;
}

/* This the ordered list rule*/

ol{
  color: #333333;
  text-align: center;
  list-style-position: inside; 
}

/*
This is the Footer Rule.
*/
footer {
 font-size: 14px;
 padding-top: 12px;
 padding-bottom: 6px;  
}



